# KiCad temporary and backup files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*.kicad_prl
*.sch-bak
*~
~*.lck
*.lck
_autosave-*
\#auto_saved_files\#
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
*.rpt

# Netlist and manufacturing export files
*.net
*.dsn
*.ses
*.xml
*.csv
*.tsv

# Allow fabrication files in production
!FlightController/production/*.csv

# Directories
/build/
*-backups/

